.button {
    padding: 0 8px;
    min-height: 32px;
    border: 1px solid rgb(149, 109, 35);
    background-color: rgb(205, 138, 15);
    color: white;
  
  }

  .button + .button {
    margin-left: 4px;
  }