form {
  /* border: 1px solid black; */
  padding: 16px;
}

.input {
  min-height: 32px;
  border: 1px solid black;
  padding: 0 8px;
}

.button {
  padding: 0 8px;
  min-height: 32px;
  border: 1px solid black;
  background-color: black;
  color: white;

}

.form-field + .form-field {
margin-top: 16px;
}

.label {
  margin-bottom: 8px;
}



