form {
  /* border: 1px solid black; */
  padding: 16px;
}

.input {
  min-height: 32px;
  border: 1px solid rgb(149, 109, 35);
  padding: 0 8px;
}

.button {
  padding: 0 8px;
  min-height: 32px;
  border: 1px solid rgb(149, 109, 35);
  background-color: rgb(149, 109, 35);
  color: rgb(213, 188, 140);

}

.form-field + .form-field {
margin-top: 16px;
}

.label {
  margin-bottom: 8px;
}



